body{
    margin: 0px;
    padding: 20px;
    font-family: "sans-serif";
    background-color: #f7f7f7;
    font-size: 30px;
}

.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;


}

h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form{
      display: flex;
      flex-direction: column;
      align-items: center;
}

label{
    font-weight: 8px;
    margin-bottom: 20px;
}


input{
    padding:5px;
    border: 2px solid #ccc;
    /* border-color: black; */

    border-radius: 5px;
     width: 100%;
     max-width: 300px;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover{
    background-color: #0062cc;

}

#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
